.bg-color1 {
  color: #fffbfe;
}

.bg-color2 {
  color: #3a7871;
}

.bg-color3 {
  color: #dc4e1d;
}

.form1 {
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
}

.background-image {
  background-image: url(/background.png);
  background-size: cover;
}

.loginitems {
  display: flex;
  justify-content: center;
  align-items: center;
}
