.bg-color1 {
  color: #fffbfe;
}

.bg-color2 {
  color: #3a7871;
}

.bg-color3 {
  color: #dc4e1d;
}

.gradient {
  background: linear-gradient(to bottom, #fffbfe, #3a7871);
}

.gradient2 {
  background: linear-gradient(to bottom, #3a7871, #fffbfe);
}

.form1 {
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
}

.loginitems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexible-img { 
  width: 100%; height: auto; 
}